In [4]:
import numpy as np
import os
import pandas as pd
import gc

In [14]:
past = 'Enade/DataSet/Data/'

pastvar = 'Enade/DataSet/Dicionarios/Variaveis/'

In [6]:
df = {}
dff = {}
#usecols = cols

In [16]:
ano_inicio = 2004
ano_fim = 2019
var = {}
for ano in range(ano_inicio, ano_fim + 1):
    var.update({ano: pd.read_csv(pastvar + 'Variaveis_' + str(ano) + '.csv', sep = ';')})
    
for ano in range(ano_inicio, ano_fim + 1):
    temp = pd.DataFrame()
    #cols = var[ano]['VAR'].values
    #cols = list(cols)
    #cols.append('NU_IDADE')
    #cols.append('SG_UF')
    #cols.append('ANO_FIM_EM')
    for chunk in pd.read_csv(past + '/MICRODADOS_ENADE_' + str(ano) + '.csv', encoding = 'Latin1',
                                 sep = ';', chunksize=300000,  low_memory = False):
            temp = pd.concat([temp, chunk], ignore_index=True)
            del chunk; gc.collect()
    print(temp.columns.values)
    df.update({ano: temp})
    print(ano)

['CO_GRUPO' 'CO_UF' 'CO_MUNIC_HABIL' 'NU_IDADE' 'NU_ANO_GRA' 'NT_OBJ_FG'
 'NT_FG_D1' 'NT_FG_D2' 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE' 'NT_CE_D1'
 'NT_CE_D2' 'NT_CE_D3' 'NT_CE_D4' 'NT_CE_D5' 'NT_CE_D6' 'NT_CE_D7'
 'NT_CE_D8' 'NT_CE_D9' 'NT_CE_D10' 'NT_DIS_CE' 'NT_CE' 'NT_GER']
2004
['CO_GRUPO' 'CO_UF' 'CO_MUNIC_HABIL' 'NU_IDADE' 'NU_ANO_GRA' 'NT_OBJ_FG'
 'NT_FG_D1' 'NT_FG_D2' 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE' 'NT_CE_D1'
 'NT_CE_D2' 'NT_CE_D3' 'NT_CE_D4' 'NT_CE_D5' 'NT_CE_D6' 'NT_CE_D7'
 'NT_CE_D8' 'NT_CE_D9' 'NT_CE_D10' 'NT_CE_D11' 'NT_CE_D12' 'NT_CE_D13'
 'NT_CE_D14' 'NT_CE_D15' 'NT_CE_D16' 'NT_CE_D17' 'NT_CE_D18' 'NT_DIS_CE'
 'NT_CE' 'NT_GER']
2005
['CO_GRUPO' 'CO_SUBAREA' 'CO_UF' 'CO_MUNIC_HABIL' 'NU_IDADE' 'ANO_IN_GRA'
 'NT_OBJ_FG' 'NT_FG_D1' 'NT_FG_D2' 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3' 'NT_CE_D4' 'NT_CE_D5' 'NT_CE_D6'
 'NT_DIS_CE' 'NT_CE' 'NT_GER']
2006
['CO_GRUPO' 'CO_UF' 'CO_MUNIC_HABIL' 'NU_IDADE' 'ANO_IN_GRA' 'NT_OBJ_FG'
 'NT_FG_D1' 'NT_FG_D2' 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE' 'NT_CE_D1'
 'NT_CE_D2' 'NT_CE_D3' 'NT_CE_D4' 'NT_DIS_CE' 'NT_CE' 'NT_GER']
2007
['CO_GRUPO' 'CO_SUBAREA' 'CO_UF' 'CO_MUNIC_HABIL' 'NU_IDADE' 'ANO_IN_GRA'
 'NT_OBJ_FG' 'NT_FG_D1' 'NT_FG_D2' 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3' 'NT_CE_D4' 'NT_CE_D5' 'NT_CE_D6'
 'NT_CE_D7' 'NT_CE_D8' 'NT_CE_D9' 'NT_CE_D10' 'NT_CE_D11' 'NT_CE_D12'
 'NT_CE_D13' 'NT_CE_D14' 'NT_CE_D15' 'NT_DIS_CE' 'NT_CE' 'NT_GER']
2008
['CO_GRUPO' 'CO_SUBAREA' 'CO_UF' 'CO_MUNIC_HABIL' 'NU_IDADE' 'ANO_IN_GRA'
 'NT_OBJ_FG' 'NT_FG_D1' 'NT_FG_D2' 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3' 'NT_DIS_CE' 'NT_CE' 'NT_GER']
2009
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D2' 'NT_CE' 'NT_OBJ_CE'
 'NT_DIS_CE' 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2010
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D2' 'NT_CE' 'NT_OBJ_CE'
 'NT_DIS_CE' 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2011
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D2' 'NT_CE' 'NT_OBJ_CE'
 'NT_DIS_CE' 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2012
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2013
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2014
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2015
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2016
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2017
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2018
['CO_GRUPO' 'CO_MUNIC_CURSO' 'CO_UF' 'NU_IDADE' 'ANO_IN_GRAD' 'NT_GER'
 'NT_FG' 'NT_OBJ_FG' 'NT_DIS_FG' 'NT_FG_D1' 'NT_FG_D1_PT' 'NT_FG_D1_CT'
 'NT_FG_D2' 'NT_FG_D2_PT' 'NT_FG_D2_CT' 'NT_CE' 'NT_OBJ_CE' 'NT_DIS_CE'
 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3']
2019

In [27]:
ano_inicio = 2009
ano_fim = 2009
for ano in range(ano_inicio, ano_fim + 1):
    #cola = df[ano].columns.values
    #col = df[ano].columns.values
    #for i in col:
    #    if i == 'CO_SUBAREA':
    #        df[ano] = df[ano].drop('CO_SUBAREA', axis = 1)
    #    if i == 'ANO_IN_GRAD':
    #        df[ano] = df[ano].drop('ANO_IN_GRAD', axis = 1)
    #    if i == 'CO_MUNIC_HABIL':
    #        df[ano] = df[ano].drop('CO_MUNIC_HABIL', axis = 1)
    #    if i == 'ANO_IN_GRA':
    #        df[ano] = df[ano].drop('ANO_IN_GRA', axis = 1)
        
    #print(df[ano].columns.values)
    df[ano].to_csv(past + 'MICRODADOS_ENADE_' + str(ano) + '.csv', index = False, sep = ';', encoding = 'Latin1')
    print(ano)

2009

In [13]:
for ano in range(ano_inicio, ano_fim + 1):
    #cola = df[ano].columns.values
    col = df[ano].columns.values
    for i in col:
        if i == 'CO_GRUPO':
            df[ano] = df[ano].ename(columns={'CO_UF_CURSO': 'CO_UF'})
        if i == 'CO_UF_HABIL':
            df[ano] = df[ano].rename(columns={'CO_UF_HABIL': 'CO_UF'})
        
    
    df[ano].to_csv(past + 'Data/MICRODADOS_ENADE_' + str(ano) + '.csv', index = False, sep = ';', encoding = 'Latin1')
    print(ano)

2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [26]:
df[2009]

,CO_UF,NU_IDADE,NT_OBJ_FG,NT_FG_D1,NT_FG_D2,NT_DIS_FG,NT_FG,NT_OBJ_CE,NT_CE_D1,NT_CE_D2,NT_CE_D3,NT_DIS_CE,NT_CE,NT_GER
0,51,18,57.1,NaN,0.0,0.0,34.2,31.5,60.0,0.0,0.0,20.0,29.7,30.8
1,51,18,71.4,NaN,0.0,0.0,42.8,36.8,27.5,60.0,0.0,29.1,35.6,37.4
2,51,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51,19,85.7,NaN,50.0,50.0,71.4,26.3,60.0,0.0,0.0,20.0,25.3,36.8
4,51,18,85.7,NaN,100.0,100.0,91.4,68.4,0.0,25.0,100.0,41.6,64.3,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994265,35,55,14.2,NaN,50.0,50.0,28.5,47.8,25.5,0.0,50.5,25.3,44.4,40.4
994266,35,22,0.0,NaN,82.5,82.5,33.0,39.1,83.5,100.0,84.5,89.3,46.6,43.2
994267,35,20,28.5,NaN,40.0,40.0,33.1,56.5,100.0,77.6,95.0,90.8,61.6,54.4
994268,35,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994269,35,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(df[2009].columns.values)

['NU_ANO' 'CO_IES' 'CD_CATAD' 'CD_ORGAC' 'CO_GRUPO' 'CO_SUBAREA'
 'CO_REGIAO_HABIL' 'CO_UF_HABIL' 'CO_MUNIC_HABIL' 'CO_CURSO' 'NU_IDADE'
 'TP_SEXO' 'NO_MUNIC' 'SG_UF' 'ANO_FIM_2G' 'ANO_IN_GRA' 'TP_SEMEST'
 'IN_MATUT' 'IN_VESPER' 'IN_NOTURNO' 'AMOSTRA' 'PESO_AMOST' 'IN_GRAD'
 'IN_INSCR' 'TP_DEF_FIS' 'TP_DEF_VIS' 'TP_DEF_AUD' 'TP_PRES' 'TP_PR_GER'
 'TP_PR_OB_FG' 'TP_PR_DI_FG' 'TP_PR_OB_CE' 'TP_PR_DI_CE' 'TP_SFG_D1'
 'TP_SFG_D2' 'TP_SCE_D1' 'TP_SCE_D2' 'TP_SCE_D3' 'NU_QUE_OFG' 'NU_QUE_DFG'
 'NU_QUE_OCE' 'NU_QUE_DCE' 'VT_GAB_OFG' 'VT_GAB_OCE' 'VT_ESC_OFG'
 'VT_ACE_OFG' 'VT_ESC_OCE' 'VT_ACE_OCE' 'NT_OBJ_FG' 'NT_FG_D1' 'NT_FG_D2'
 'NT_DIS_FG' 'NT_FG' 'NT_OBJ_CE' 'NT_CE_D1' 'NT_CE_D2' 'NT_CE_D3'
 'NT_DIS_CE' 'NT_CE' 'NT_GER' 'NU_QUE_QIP' 'TP_QUE_QIP' 'QP_I1' 'QP_I2'
 'QP_I3' 'QP_I4' 'QP_I5' 'QP_I6' 'QP_I7' 'QP_I8' 'QP_I9' 'NU_QUE_SOC'
 'TP_SIT_SOC' 'QE_I1' 'QE_I2' 'QE_I3' 'QE_I4' 'QE_I5' 'QE_I6' 'QE_I7'
 'QE_I8' 'QE_I9' 'QE_I10' 'QE_I11' 'QE_I12' 'QE_I13' 'QE_I14' 'QE_I15'
 'QE_I16' 'QE_I17' 'QE_I18' 'QE_I19' 'QE_I20' 'QE_I21' 'QE_I22' 'QE_I23'
 'QE_I24' 'QE_I25' 'QE_I26' 'QE_I27' 'QE_I28' 'QE_I29' 'QE_I30' 'QE_I31'
 'QE_I32' 'QE_I33' 'QE_I34' 'QE_I35' 'QE_I36' 'QE_I37' 'QE_I38' 'QE_I39'
 'QE_I40' 'QE_I41' 'QE_I42' 'QE_I43' 'QE_I44' 'QE_I45' 'QE_I46' 'QE_I47'
 'QE_I48' 'QE_I49' 'QE_I50' 'QE_I51' 'QE_I52' 'QE_I53' 'QE_I54']

In [9]:
df[2004]['NU_ANO_GRA']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
155648    2001.0
155649    2001.0
155650    2001.0
155651    2001.0
155652    2001.0
Name: NU_ANO_GRA, Length: 155653, dtype: float64

In [10]:
for ano in range(2004, 2020):
    temp = pd.DataFrame()
    for chunk in pd.read_csv(past + 'Data/MICRODADOS_EMADE_' + str(ano) + '.csv', encoding = 'Latin1',
                                 sep = ';', chunksize=300000,  low_memory = False, usecols = colt):
            temp = pd.concat([temp, chunk], ignore_index=True)
            del chunk; gc.collect()
    dff.update({ano: temp})
    print(ano)

NameError: name 'colt' is not defined